.navbar-brand {
  position: static;
  left: 60%;
  right: 20%;
  transform: translateX(-0%);
}

.navbar-header {
  position: relative;
} 

 .Item {
  position: absolute;
  left: 100%;
  transform: translateX(808%);
  display:block;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navbar-brand {
    position: static;
    transform: none;
    text-align: center;
  }
  
  .Item {
    position: static;
    transform: none;
    display: block;
    text-align: center;
    left: 0;
  }
}
